.wrapper {
    display: flex;
    width: 100%;
    padding-top: var(--small);
    padding-bottom: var(--small);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 10px !important;
    color: var(--echoText) !important;
    font-weight: 500 !important;
}

.tagWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tag {
    word-break: 'break-all';
}

.icon {
    position: relative;
    transform-origin: left top;
    width: 40px;
    height: 40px;
    border-radius: 10rem;
    padding: 8px;
    box-sizing: border-box;
    margin-right: var(--small);
}
