.wrapper {
    position: absolute;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.wrapper > div:first-child {
    margin-right: 4px;
}

@media screen and (max-width: 440px) {
    .wrapper {
        max-width: 250px;
    }

    .wrapper > div:first-child {
        margin-bottom: 5px;
    }
}
